.list-date{
    color: darkgray;margin-bottom: 6px;
}
.list-date:hover{
    text-decoration: none;
}
.list-title{
    color:#428bca;text-decoration:none;font-size: 20px;
}
.list-title:hover{
    text-decoration: underline;
}
.list-item{
    padding:10px;border-bottom:1px solid #e7e7e7
}
.list-item:hover{
    background-color: #f5f5f5;
}
.entry img{
    background: white;
    padding: 16px;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    border-radius: 1px;
    box-shadow: 0 1px 10px 1px rgb(0 0 0 / 20%);
    margin-left: auto;
    margin-right: auto;
    display: block;
}
img+em{
    text-align: center;
    display: block;
    text-decoration: none;
    font-style: normal !important;
    font-size: 14px;
    margin-top: .8rem;
    color: darkgray;
}
.list-item-image{
    max-height: 16rem;
    width: 100%;
    object-fit: cover;
}
.heti blockquote{
    border-left: solid 4px #ccc;
    padding-left: 10px;
    margin-left: 10px;
    -webkit-margin-before: 10px;
    -webkit-margin-after: 10px;
    -webkit-margin-start: 10px;
    -webkit-margin-end: 10px;
    background-color: #fff !important;
    padding-block-start: 2px !important;
    padding-block-end: 2px !important;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 10px !important;
    margin-inline-end: 10px !important;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}