{% extends "base.html" %}
{% block content %}

<img src="/lewis.png" alt="" style="width: 4rem;height: 4rem;">
<h3 style="margin-top: 0;padding-top: 2px;">Lewis</h3>

<div>A Boy</div>
<div>Born at 1993</div>
<h3>Contacts</h3>
<div>
    <span>Email:</span>
    luuoweei#at#gmail.com
</div>
<div>
    <span>Wechat:</span>
    bGV3aXN3b24=
</div>
<div>
    <span>Github:</span>
    <a href="https://github.com/lewiswon">github.com/lewiswon</a>
</div>
<div>
    <span>Twitter:</span>
    <a href="https://twitter.com/lewiswon_">@lewiswon_</a>
</div>
{% endblock content %}