{% extends "base.html" %}
{% block content %}
<div class="entry heti">
  <h1 style="text-align: center;">
    {{ page.title }}
  </h1>
  <div style="text-align: center;">{{ page.date }}</div>
  <hr>
  <div>
  </div>
  {{ page.content | safe }}
</div>
<div style="height: 4rem;"></div>
<script src="https://giscus.app/client.js"
        data-repo="lewiswon/giscus"
        data-repo-id="R_kgDOGqla5g"
        data-category="Announcements"
        data-category-id="DIC_kwDOGqla5s4CApzV"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="light"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
{% endblock content %}